{{ define "title" }}Welcome{{ end }}

{{ define "content" }}
<div class="hero-unit">

     <a href="/thread/1"> <img src="http://i.imgur.com/CKTCwso.jpg" width="240" height="180"></a>
         <a href="/thread/2"> <img src="http://radikal.ua/data/upload/69fda/49112/9f87c17841.jpg" width="240" height="180"></a>

 
    <p class="lead">	Это форум сделанный для Антонинки ее крестным по просьбе ее папы</a>.</p>
    
    <ul class="unstyled">
    <li><span class="label label-info">Это чат</span> Новые посты видны сразу всем участникам.</li>
    
    <li><span class="label label-info">Тематический</span> Вы можете комментировать конкретный пост или тему.</li>
    
    <li><span class="label label-info">Оценки</span> Можно оценивать тему или пост.</li>
        </ul>
</div>
{{ end }}