{{ define "header" }}
	<link href="/static/css/login.css" rel="stylesheet" media="screen">
{{ end }}

{{ define "title" }}Регистрация{{ end }}

{{ define "content" }}
    <div class="container">

      <form class="form-signin" method="post" action="{{reverse "postRegister"}}">
        <h2 class="form-signin-heading">Регистрация</h2>
        {{ range .Messages }}
			<p class="text-error">{{.}}</p><br />
		{{end}}
        <input type="text" class="input-block-level" placeholder="Имя" name="Handle" value="{{.User.Handle}}" required>
        <input type="email" class="input-block-level" placeholder="Email адрес" name="Email" value="{{.User.Email}}" required>
        <input type="password" class="input-block-level" placeholder="" name="PlaintextPassword" required>
        <input type="password" class="input-block-level" placeholder="Повторите пароль" name="PlaintextPassword2" required>
        
        <button class="btn btn-large btn-primary" type="submit">Зарегистрироваться</button>
        
        <br /><br />
        <p class="text-info">Все поля обязательны.</p>
      </form>

    </div>
{{ end }}